{% extends "base.html" %}

{% block title %}
Maksujen syöttö
{% endblock %}

{% block content %}
<h1>Tilitapahtumien sy&ouml;tt&auml;minen</h1>
<div class="alert alert-dismissable alert-info">
    <button type="button" class="close" data-dismiss="alert">&times;</button>Viimeisin maksujen syöttö tehty <b>22.3.2015 klo 15.45</b>
</div>
<form action="" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label class="control-label">Lähetä CSV-tiedosto</label>
        <input type="file"  name="csvFile" id="csvFile">
        <input class="btn btn-primary" type="submit" value="Tallenna" name="submit">
    </div>
</form>
{% endblock %}