{% extends "base.html" %}

{% block title %}
Lounasliput
{% endblock %}

{% block content %}

<h1>Lounasliput</h1>
<div class="alert alert-dismissable alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    Voit ostaa viel&auml; <b>{{max_tickets}}</b>&nbsp;lippua.
</div>
<div class="alert alert-dismissable alert-info">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    Viimeisin maksujen tuonti tehty <b>22.3.2015 klo 15.45</b>
</div>
<h2>Kirjausta/ maksua odottavat liput</h2>
<table class="table table-hover table-bordered table-condensed">
    <thead>
    <tr>
        <th>P&auml;iv&auml;m&auml;&auml;r&auml;</th>
        <th>M&auml;&auml;r&auml;</th>
        <th>Hinta</th>
        <th>Viitenumero</th>
    </tr>
    </thead>
    <tbody>

    {% for invoice in unpaid_invoices %}
        <tr>
            <td>{{ invoice.created }}</td>
            <td>{{ invoice.tickets }}kpl</td>
            <td>{{ invoice.amount }}€</td>
            <td>{{ invoice.referenceNumber }}</td>
        </tr>
    {% endfor %}

    </tbody>
</table>
<h2>Kirjatut maksut</h2>
<table class="table table-hover table-bordered table-condensed">
    <thead>
    <tr>
        <th>P&auml;iv&auml;m&auml;&auml;r&auml;</th>
        <th>M&auml;&auml;r&auml;</th>
        <th>Hinta</th>
        <th>Viitenumero</th>
        <th>Kirjattu</th>
        <th>Summa</th>
        <th>Saldo</th>
        <th>Lataa</th>
    </tr>
    </thead>
    <tbody>
    {% for payment in payments %}
        <tr>
            <td>{{ payment.dateOfPayment }}</td>
            <td>{{ payment.tickets }}kpl</td>
            <td>{{ payment.invoiceAmount }}€</td>
            <td>{{ payment.referenceNumber }}</td>
            <td>{{ payment.recordingDate }}</td>
            <td>{{ payment.paid }}€</td>
            <td>{{ payment.amountLeft }}€</td>
            <td>{% if payment.amountLeft == 0 %}
                <a href="lounasliput/{{ payment.invoiceId }}/lataa">Lataa</a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}